@import 'variables';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    color: $dark-color;
    font-family: $font-stack;
    line-height: 1.5;
}

// Nested elements
header {
    background-color: $dark-color;
    color: $light-color;
    padding: 1rem;

    h1 {
        text-align: center;
    }
}

.section {
    padding: 3rem;

    h3 {
        font-size: 2rem;
    }

    // & means the parent, in this case (.section)
    &-a {
        background-color: $primary-color;
        color: #fff;
    }

    &-b {
        background-color: $secondary-color;
        color: #fff;
    }
}

// a {
//     color: #333;
//     text-decoration: none;
//     &:hover {
//         color: coral;
//     }
// }

%btn-shared {
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 25px;
}

.btn {
    &-light {
        @extend %btn-shared;
        background-color: $light-color;
        color: #333;
    }

    &-dark {
        @extend %btn-shared;
        background-color: $dark-color;
        color: #fff;
    }
}